*.pyc
*~
.*.sw[op]
*.egg-info
/dist
/build
docs/_build/
distribute-*
.DS_Store
.python-version
.pytest_cache
.coverage
.coverage.*
coverage.xml
venv*/
.vscode/
.eggs/
.tox/
/local

/pip-wheel-metadata
# IntelliJ Idea family of suites
.idea
*.iml
## File-based project format:
*.ipr
*.iws
## mpeltonen/sbt-idea plugin
.idea_modules/
# direnv
.envrc

# Wing IDE
*.wp[ur]

tests/apps/verify-*/
