include CONTRIBUTING.md
include README.rst
include AUTHORS
include LICENSE.txt
include requirements*.txt
include docs/spelling_wordlist
include tests/integrations/xcode/simctl/README
include pyproject.toml
include tox.ini
include .coveragerc
include .git-blame-ignore-revs
include .pre-commit-config.yaml
include .readthedocs.yaml
recursive-include changes *.rst
recursive-include src *.py
recursive-include docs *.bat
recursive-include docs *.png
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs Makefile
recursive-exclude docs/_build *
recursive-include tests *.py
recursive-include tests *.json
recursive-include tests *.out
recursive-include tests *.returncode
recursive-include tests *.config
