include beekeeper.yml
include CONTRIBUTING.md
include README.rst
include AUTHORS
include LICENSE.txt
include requirements*.txt
include docs/spelling_wordlist
include tests/integrations/xcode/simctl/README
recursive-include briefcase *.py
recursive-include docs *.bat
recursive-include docs *.png
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs Makefile
recursive-exclude docs/_build *
recursive-include tests *.py
recursive-include tests *.json
