name: CI
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  beefore:
    name: Pre-test checks
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        task:
        - 'flake8'
        - 'check-manifest'
        - 'towncrier-check'
        - 'docs'
        - 'package'
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install --upgrade setuptools
        pip install tox
    - name: Run pre-test check
      run: |
        tox -e ${{ matrix.task }}

  smoke:
    name: Smoke test (3.5)
    needs: beefore
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.5
      uses: actions/setup-python@v1
      with:
        python-version: 3.5
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install --upgrade setuptools
        pip install tox
    - name: Test
      run: |
        tox -e py

  python-versions:
    # Only run this and subsequent steps on branches.
    # `github.head_ref` only exists on pull requests.
    if: github.head_ref
    name: Python compatibility test
    needs: smoke
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.6, 3.7, 3.8]
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install --upgrade setuptools
        pip install tox
    - name: Test
      run: |
        tox -e py

  windows:
    name: Windows tests
    needs: python-versions
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install --upgrade setuptools
        pip install tox
    - name: Test
      run: |
        tox -e py

  macOS:
    name: macOS tests
    needs: python-versions
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install --upgrade setuptools
        pip install tox
    - name: Test
      run: |
        tox -e py
